<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Hi welcome to my kitchen</title>
  <meta name="description" content="Hi welcome to my kitchen">
  <meta name="author" content="Shawn Aten">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="index.js"></script>
  <link rel="stylesheet" href="index.css">
</head>

<body>

  <div id="app">
    <h1>{{ title }}</h1>
    <label for="#newSalary">Enter new salary: </label>
    <input
      id="newSalary"
      v-model.number="newSalary"
      type="number"
      v-on:keyup.enter="addSalary"
    />
    <div class="error" v-if="error">{{ error }}</div>

    <div class="content">
      <salary
        v-bind:key="salary"
        v-for="salary of salaries"
        v-bind:salary="salary"
        v-on:delete="removeSalary"
      ></salary>
    </div>
  </div>

</body>

</html>
